 <div class="col-md-3">
            <h2>User Info</h2>
            <table class="table">
              <tbody>
                <tr>
                  <td><%= image_tag "/user_image/#{user.profile_image}", size: '80x80'%></td>
                </tr>
                <tr>
                  <th>name</th>
                  <th><%= user.name %></th>
                </tr>
                <tr>
                  <th>introduction</th>
                  <th><%= user.introduction %></th>
                </tr>
              </tbody>
            </table>
                <%= link_to edit_user_path(user.id) ,class: "btn btn-outline-secondary btn-block", method: :get do %>
                  <i class="fas fa-user-cog"></i>
                <% end%>
              



            <h2 class="mt-3">New book</h2>
            <%= form_with model: book do |f| %>
            <h6>Title</h6>
            <%= f.text_field :title %>
            <h6>Opinion</h6>
            <%= f.text_area :body %>

            <%= f.submit 'Create Book', class: "btn btn-success " %>

            <% end %>
  </div>