<%= flash[:notice] %>
<div class="container px-5 px-sm-0">
    <div class="row">
       <%= render 'users/info', user: @user, book: @book %>

        <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
         <table class="table table-hover table-inverse">
           <thead>

            </thead>
            <tbody>
                    <tr>
                        <td><%= link_to image_tag("/assets/image/no_image.jpg", size: '80x80'), book_path(@book2.id) %></td>
                        <td><%= link_to @book2.title,book_path(@book2.id) %></td>
                        <td><%= @book2.body %></td>
                        <% if @book2.user.id == current_user.id %>
                        <td><%= link_to "Edit", edit_book_path(@book2.id), class: "btn btn-sm btn-sm btn-success edit_book_6978" %></td>
                        <td><%= link_to "Destroy", book_path(@book2.id), method: :delete,class: "btn btn-sm btn-danger ddestroy_book_6978", "data-confirm" => "本当に消しますか？" %></td>
                        <% end%>

                        <p><%= link_to @book2.user.name, user_path(@book2.user.id)%></p>
                    
            </tbody>
        </table>
        <div>
        
</div>

        </div>
    </div>
</div>
